body {
  background-color: #999;
  color: #000;
}

a {
  cursor: pointer;
  color: #4d4d4d;
  text-decoration: underline;
}

  a:hover,
  a:active {
    color: rgb(59,115,185);
  }

.row {
  margin: 0 -5px;
}

.body-background-color {
  background-color: #999;
}

.area-background-color {
  background-color: #ccc;
}

.box-header-background-color {
  background-color: #e6e6e6;
}

.actionable-item-background-color {
  background-color: #4d4d4d;
  color: #f2f2f2;
}

.active-background-color {
  background-color: rgb(59,115,185);
  color: #f2f2f2;
}

.active-transparent-background-color {
  background-color: rgba(59,115,185, 0.2);
}

.warning-background-color {
  background-color: #F7931E;
  color: #f2f2f2;
}

.warning-transparent-background-color {
  background-color: rgba(247,147,30, 0.2);
}

.danger-background-color {
  background-color: #f00;
  color: #f2f2f2;
}

.success-background-color {
  background-color: #4FA400;
  color: #f2f2f2;
}

.alert-background-color {
  background-color: #E2CC00;
}

.container-fluid {
  padding: 0 5px;
}

.area {
  padding: 10px 10px 0;
  margin-bottom: 10px;
  margin-top: 0px;
  background-color: #ccc;
}

  .area:before,
  .area:after {
    display: table;
    content: '';
    height: 0;
    clear: both;
  }

  .area > header {
    padding: 20px 20px 10px;
  }

  .area > nav {
    margin: 0 -10px 10px;
    background-color: #4d4d4d;
  }

.area + .area,
.box + .box,
.area + .box,
.box + .area {

}

.box {
  padding: 10px;
  border-radius: 0;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 10px;
}

  .box:before,
  .box:after {
    display: table;
    content: '';
    height: 0;
    clear: both;
  }

  .box > header {
    background-color: #e6e6e6;
  }

  .box > footer {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    line-height: 30px;
  }

header {
  line-height: 30px;
  margin: -10px -10px 10px;
  padding: 10px;
}

  header.small {
    line-height: 20px;
    font-size: 14px;
  }

  header:after {
    display: table;
    content: '';
    height: 0;
    clear: both;
  }

  header .header-right {
    float: right;
  }

  header > .header-title {
    float: left;
    line-height: 30px;
  }

  header h1,
  header h2,
  header h3,
  header h4,
  header h5 {
    margin: 0;
    font-weight: normal;
    line-height: 1.25em;
  }

  header h3 {
    font-size: 16px;
  }

.action {
  color: #4d4d4d;
}

  .action:active,
  .action:hover {
    color: rgb(59,115,185);
  }

.actions {
  margin: 0;
  padding: 0;
}

  .actions:after {
    display: table;
    content: '';
    clear: both;
    height: 0;
  }

  .actions > li {
    float: left;
    position: relative;
    display: block;
    float: left;
  }

  .actions > li + li {
    margin-left: 10px;
  }


[class^="col-md-"],
[class^="col-sm-"],
[class^="col-xs-"],
[class^="col-lg-"] {
  padding: 0 5px;
}

.tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}

  .tabs:after {
    display: table;
    content: '';
    clear: both;
    height: 0;
  }

  .tabs > li {
    float: left;
  }

  .tabs > li+li {
    border-left: 1px solid rgba(255,255,255,0.5);
  }

.tab-group .tabs {
  float: left;
}

  .tab-group .tabs+.tabs {
    margin-left: 10px;
  }

  .tab-group:after {
    display: table;
    content: '';
    clear: both;
    height: 0;
  }

.button,
.feaux-button {
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.feaux-button {
  color: #4d4d4d;
}

  .feaux-button.small {
    line-height: 20px;
    padding: 0 5px;
  }

  .feaux-button:hover,
  .feaux-button:active {
    color: rgb(59,115,185);
  }

.button {
  background-color: #4d4d4d;
  color: #f2f2f2;
}

  a.button:hover,
  a.button:active {
    text-decoration: none;
    color: #f2f2f2;
    background-color: rgb(59,115,185);
  }

  .button.small {
    line-height: 20px;
    padding: 0 5px;
  }

.table-wrapper {
  margin: -10px -10px 0px;
}

table.full {
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: initial;
  margin-bottom: 10px;
}
  table.full tbody td + td {
    border-left: 1px solid transparent;
  }

  table.full tbody .odd td + td,
  table.full thead th + th {
    border-left: 1px solid rgba(255,255,255,0.25);
  }

  table.full tbody tr.odd {
    background-color: #e6e6e6;
  }

  table.full tbody tr.active {
    background-color: rgba(59,115,185, 0.2);
  }

  tr.active td:first-child {
    border-left: 5px solid rgb(59,115,185);
    padding-left: 5px;
  }

fieldset.separator {
  border-top: 1px solid rgba(255,255,255,0.5);
  padding: 0;
  margin-bottom: 5px;
}

  .separator legend {
    position: relative;
    border: none;
    padding: 0 0px;
    text-align: center;
    width: auto;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

th {
  background-color: #808080;
  color: #f2f2f2;
  font-weight: normal;
}

th.sortable {
  background-color: #4d4d4d;
  cursor: pointer;
  padding-right: 28px;
  position: relative;
}

th .sorter {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -14px;
  color: #808080;
}

tr.active > td.minimal {
  padding-left: 0;
}

th,
td {
  line-height: 30px;
  padding: 5px 10px;
}

td.minimal,
th.minimal {
  padding: 5px;
  text-align: center;
}

  th.minimal .sorter {
    position: relative;
    right: inherit;
    top: inherit;
    margin: auto;
  }

th.minimal {
  width: 1px;
}

  th .sorter .fa-sort-down,
  th .sorter .fa-sort-up {
    color: #f2f2f2;
  }
